<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Курс</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header">
            <div class="header__wrap container">
                <div class="header__panel">
                    <button class="header__toggler" type="button">
                        <img class="header__burger" src="../symbols/header-burger.svg" width="32" height="32" alt="">
                        <img class="header__close" src="../symbols/header-close.svg" width="32" height="32" alt="">
                    </button>
                    <a class="header__logo" href="#">
                        <img class="header__emblem" src="../symbols/logo.svg" width="165" height="28" alt="">
                    </a>
                </div>
                <div class="header__dropdown">
                    <div class="header__contacts">
                        <a class="header__phone title title--h6" href="tel:+78001872277">8 800 187 22 77</a>
                        <div class="header__callback">
                            <a class="link link--white" href="#">Перезвоните мне</a>
                        </div>
                    </div>
                    <a class="header__auth" href="#">
                        <div class="header__preview">
                            <img class="header__avatar" src="../content/ironman.svg" width="48" height="48" alt="">
                        </div>
                        <div class="header__login">
                            Войти
                        </div>
                    </a>
                </div>
            </div>
        </header>
        <div class="page">
            <div class="container">
                <section class="methodology">
                    <h2 class="methodology__heading">
                        Как устроено обучение
                    </h2>
                    <div class="methodology__list hide-scrollbar">
                        <div class="methodology__item">
                            <div class="methodology__preview">
                                <div class="methodology__frame black-border black-border--to-left black-border--screenshot">
                                    <img class="methodology__screenshot"
                                         srcset="../content/methodology-1@2x.jpg 2x"
                                         src="../content/methodology-1.jpg"
                                         width="360"
                                         height="422"
                                         alt=""
                                    >
                                </div>
                                <div class="methodology__index title title--h6">
                                    1
                                </div>
                            </div>
                            <h3 class="methodology__sub-heading">
                                Стартуешь на&nbsp;онлайн-платформе
                            </h3>
                            <div class="methodology__description list">
                                <div class="list__item">Проходишь входящее тестирование для определения текущего балла</div>
                                <div class="list__item">Устанавливаешь желаемые баллы по предметам</div>
                            </div>
                        </div>
                        <div class="methodology__item">
                            <div class="methodology__preview">
                                <div class="methodology__frame black-border black-border--to-left black-border--screenshot">
                                    <img class="methodology__screenshot"
                                         srcset="../content/methodology-2@2x.jpg 2x"
                                         src="../content/methodology-2.jpg"
                                         width="360"
                                         height="422"
                                         alt=""
                                    >
                                </div>
                                <div class="methodology__index title title--h6">
                                    2
                                </div>
                            </div>
                            <h3 class="methodology__sub-heading">
                                Практикуешься в&nbsp;любое время онлайн
                            </h3>
                            <div class="methodology__description list">
                                <div class="list__item">Занимаешься по интерактивному учебнику в любое время самостоятельно</div>
                                <div class="list__item">Практикуешься на тренажере задач в любое время самостоятельно</div>
                                <div class="list__item">Дополнительно занимаешься на онлайн-занятиях в группе. Старт – каждый месяц!</div>
                            </div>
                        </div>
                        <div class="methodology__item">
                            <div class="methodology__preview">
                                <div class="methodology__frame black-border black-border--to-left black-border--screenshot">
                                    <img class="methodology__screenshot"
                                         srcset="../content/methodology-3@2x.jpg 2x"
                                         src="../content/methodology-3.jpg"
                                         width="360"
                                         height="422"
                                         alt=""
                                    >
                                </div>
                                <div class="methodology__index title title--h6">
                                    3
                                </div>
                            </div>
                            <h3 class="methodology__sub-heading">
                                Следишь за&nbsp;прогрессом
                            </h3>
                            <div class="methodology__description list">
                                <div class="list__item">Проходишь короткие пробные ЕГЭ по 1 части с автопроверкой</div>
                                <div class="list__item">Проходишь симуляции полного ЕГЭ с реальным таймингом и проверкой преподом</div>
                                <div class="list__item">Получаешь рекомендации, какие типы задач тренировать дальше</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <section class="faq">
                <div class="faq__wrap container">
                    <div class="faq__intro">
                        <h2 class="faq__heading">
                            Остались вопросы?
                        </h2>
                        <div class="faq__about">
                            Если у&nbsp;вас возникли вопросы об&nbsp;обучении, оставьте свои контакты, и&nbsp;наш менеджер свяжется с&nbsp;вами, чтобы помочь.
                        </div>
                        <div class="faq__submit-question">
                            <div class="black-border">
                                <a class="button button--larger" href="#">Задать вопрос</a>
                            </div>
                        </div>
                    </div>
                    <div class="faq__list">
                        <div class="faq__item">
                            <button class="faq__question" type="button">
                                <span class="faq__label">
                                    Как проходит обучение?
                                </span>
                            </button>
                            <div class="faq__answer wysiwyg wysiwyg--halfen">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                                <p>Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                            </div>
                        </div>
                        <div class="faq__item">
                            <button class="faq__question" type="button">
                                <span class="faq__label">
                                    Будет ли домашка?
                                </span>
                            </button>
                            <div class="faq__answer wysiwyg wysiwyg--halfen">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                                <p>Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                            </div>
                        </div>
                        <div class="faq__item">
                            <button class="faq__question" type="button">
                                <span class="faq__label">
                                    Кто такой куратор?
                                </span>
                            </button>
                            <div class="faq__answer wysiwyg wysiwyg--halfen">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                                <p>Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                            </div>
                        </div>
                        <div class="faq__item">
                            <button class="faq__question" type="button">
                                <span class="faq__label">
                                    Гарантии?
                                </span>
                            </button>
                            <div class="faq__answer wysiwyg wysiwyg--halfen">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                                <p>Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="connect container">
                <div class="connect__inner">
                    <div class="connect__summary">
                        <div class="connect__badge badge">
                            Информатика
                        </div>
                        <h2 class="connect__heading title title--h5">
                            Вся информатика за 5 дней информатика дней
                        </h2>
                        <div class="connect__discount caption">
                            Скидка 30%
                        </div>
                        <div class="connect__price title title--h5">
                            6 299 ₽ <s class="connect__old-price">5 299 ₽</s>
                        </div>
                        <div class="connect__section">
                            <h3 class="connect__sub-heading">
                                Ближайший старт
                            </h3>
                            <div class="connect__widget">
                                <div class="stat">
                                    <img class="stat__icon" src="../symbols/calendar.svg" width="16" height="16" alt="">
                                    Сб, 27 сентября
                                </div>
                                <div class="stat">
                                    <img class="stat__icon" src="../symbols/time.svg" width="16" height="16" alt="">
                                    09:00-13:00
                                </div>
                            </div>
                            <div class="connect__details">
                                <a class="link link--text-alike" href="#">Другие даты</a>
                            </div>
                        </div>
                        <div class="connect__section">
                            <h3 class="connect__sub-heading">
                                Расписание
                            </h3>
                            <div class="connect__widget">
                                <div class="stat">
                                    <span class="stat__label">Cб</span>
                                    09:00-13:00
                                </div>
                                <div class="stat">
                                    <span class="stat__label">Вт</span>
                                    09:00-13:00
                                </div>
                            </div>
                        </div>
                        <div class="connect__section">
                            <h3 class="connect__sub-heading">
                                Кол-во занятий
                            </h3>
                            <div class="connect__widget">
                                <div class="stat">
                                    <img class="stat__icon" src="../symbols/laptop.svg" width="16" height="16" alt="">
                                    5 онлайн-занятий
                                </div>
                                <div class="stat">
                                    <img class="stat__icon" src="../symbols/verified.svg" width="16" height="16" alt="">
                                    Проверка домашек
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="connect__join">
                        <div class="connect__tabs">
                            <a class="connect__tag connect__tag--current">Регистрация/Логин</a>
                            <a class="connect__tag" href="#">Оплата</a>
                        </div>
                        <label class="connect__label headline headline--2" for="connect-email">
                            Введи свой email учащегося
                        </label>
                        <div class="connect__field input input--larger">
                            <input class="input__widget" type="email" id="connect-email" placeholder="Email">
                        </div>
                        <div class="connect__submit black-shadow">
                            <button class="button button--larger button--informatics" type="button">
                                Перейти к оплате
                            </button>
                        </div>
                        <div class="connect__social media media--larger">
                            <a class="media__item" href="#">
                                <img class="media__icon" src="../symbols/media-vk.svg" alt="">
                            </a>
                            <a class="media__item" href="#">
                                <img class="media__icon" src="../symbols/media-instagram.svg" alt="">
                            </a>
                        </div>
                        <div class="connect__agreement caption">
                            Регистрируясь на платформе ЕГЭнатор, вы соглашаетесь
                            на <a class="link link--text-alike" href="#">Условия пользования сервисом</a> и <a class="link link--text-alike" href="#">Политикой конфиденциальности</a>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="footer__wrap container">
                    <div class="footer__primary">
                        <a class="footer__phone title title--h5" href="tel:+78001872277">
                            8 800 187 22 77
                        </a>
                        <div class="footer__menu">
                            <div class="footer__item">
                                <a class="link link--inverted" href="#">Помощь</a>
                            </div>
                            <div class="footer__item">
                                <a class="link link--inverted" href="#">Личный кабинет</a>
                            </div>
                            <div class="footer__item">
                                <a class="link link--inverted" href="#">Журнал</a>
                            </div>
                        </div>
                        <div class="footer__social media media--inverted media--sparse">
                            <a class="media__item" href="#">
                                <img class="media__icon" src="../symbols/media-vk.svg" alt="">
                            </a>
                            <a class="media__item" href="#">
                                <img class="media__icon" src="../symbols/media-instagram.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="footer__secondary">
                        <div class="footer__intro">
                            Получайте эксклюзивные новости о&nbsp;предстоящих курсах и&nbsp;новостях в&nbsp;сообществе ЕГЭнатор
                        </div>
                        <form class="footer__form subscription subscription--smaller">
                            <div class="subscription__body">
                                <div class="subscription__field">
                                    <div class="input">
                                        <input class="input__widget" type="email" id="footer-email-subscription" placeholder="Введите ваш email">
                                    </div>
                                </div>
                                <div class="subscription__submit">
                                    <button class="button button--orange" type="button">
                                        Подписаться
                                    </button>
                                </div>
                            </div>
                        </form>
                        <a class="footer__logo" href="#">
                            <img class="footer__emblem" src="../symbols/logo.svg" width="165" height="28" alt="">
                        </a>
                        <div class="footer__note caption">
                            Доступно, качественно, для лучшего будущего молодежи и&nbsp;России
                        </div>
                        <div class="footer__copyright caption">
                            © ООО ЕГЭнатор 2022<br>
                            <a class="link link--text-alike" href="#">Политика конфиденциальности</a> / <a class="link link--text-alike" href="#">Договор оферты</a><br>
                            ИНН 0913469672 / КПП 990308001
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <div class="alert" style="display: none;">
            <div class="alert__label">
                Спасибо! Вы&nbsp;подписаны на&nbsp;рассылку.<br class="hide hide_mobile">
                На&nbsp;вашу почту скоро придут материалы и&nbsp;шпаргалки по&nbsp;ЕГЭ.
            </div>
            <button class="alert__dismiss" type="button">
                Закрыть
            </button>
        </div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_faq.js"></script>
        <script src="../scripts/_alert.js"></script>
        <script src="../scripts/_subscription.js"></script>
        <script src="../scripts/_header.js"></script>


    </body>
</html>
