<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Информатика</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->


        <div class="subject container">
            <h1 class="subject__heading title title--h2">
                Информатика
            </h1>
            <div class="subject__description">
                Кратко. Текст для примера. ЕГЭнатор – новый проект школы «ЕГЭ-Студия», лидера в области подготовки к ЕГЭ и поступления в ВУЗы
            </div>
            <div class="subject__operations">
                <div class="subject__action black-shadow">
                    <a class="button button--larger button--informatics" href="#">Учиться в группе</a>
                </div>
                <div class="subject__action black-border">
                    <a class="button button--larger button--white" href="#">Учиться самостоятельно</a>
                </div>
            </div>
        </div>



        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>

    </body>
</html>
