<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Преподаватели</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <section class="teachers container">
            <h1 class="teachers__heading">
                Преподаватели
            </h1>
            <div class="teachers__menu hide-scrollbar">
                <div class="teachers__ribbon">
                    <button class="teachers__filter teachers__filter--all" type="button">Все преподаватели</button>
                    <button class="teachers__filter teachers__filter--math" type="button">Математика</button>
                    <button class="teachers__filter teachers__filter--russian" type="button">Русский язык</button>
                    <button class="teachers__filter teachers__filter--informatics teachers__filter--current" type="button">Информатика</button>
                    <button class="teachers__filter teachers__filter--biology" type="button">Биология</button>
                    <button class="teachers__filter teachers__filter--physics" type="button">Физика</button>
                </div>
            </div>
            <div class="teachers__list">
                <article class="teachers__item instructor">
                    <div class="instructor__summary">
                        <article class="instructor__photo mentor mentor--small">
                            <div class="mentor__preview black-border black-border--big-radius black-border--to-left">
                                <a class="mentor__card" href="#">
                                    <img class="mentor__photo"
                                         srcset="../temp/mentor-a@2x.jpg 2x"
                                         src="../temp/mentor-a.jpg"
                                         width="242"
                                         height="366"
                                         alt=""
                                    >
                                </a>
                            </div>
                        </article>
                        <div class="instructor__social">
                            <div class="media">
                                <a class="media__item" href="#">
                                    <img class="media__icon" src="../symbols/media-vk.svg" alt="">
                                </a>
                                <a class="media__item" href="#">
                                    <img class="media__icon" src="../symbols/media-instagram.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="instructor__data">
                        <div class="instructor__area">
                            <div class="instructor__subject badge badge--informatics">Информатика</div>
                            <div class="instructor__subject badge badge--math">Математика</div>
                        </div>
                        <h2 class="instructor__heading">
                            Романова Ева Никитична
                        </h2>
                        <div class="instructor__description wysiwyg">
                            <p>Каждую неделю на почту или телефон родителя отправляются отчеты об успеваемости. Можно настроить, кому отправлять и когда. Каждую неделю на почту или телефон родителя отправляются отчеты об успеваемости. Можно настроить, кому отправлять и когда.</p>
                        </div>
                        <div class="instructor__menu">
                            <div class="instructor__item">
                                <a class="link link--text-alike" href="#">Профильный ЕГЭ по математике, 11 классы</a>
                            </div>
                            <div class="instructor__item">
                                <a class="link link--text-alike" href="#">Базовый ЕГЭ по математике, 10-11 классы</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="teachers__item instructor">
                    <div class="instructor__summary">
                        <article class="instructor__photo mentor mentor--small">
                            <div class="mentor__preview black-border black-border--big-radius black-border--to-left">
                                <a class="mentor__card" href="#">
                                    <img class="mentor__photo"
                                         srcset="../temp/mentor-b@2x.jpg 2x"
                                         src="../temp/mentor-b.jpg"
                                         width="242"
                                         height="366"
                                         alt=""
                                    >
                                </a>
                            </div>
                        </article>
                        <div class="instructor__social">
                            <div class="media">
                                <a class="media__item" href="#">
                                    <img class="media__icon" src="../symbols/media-vk.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="instructor__data">
                        <div class="instructor__area">
                            <div class="instructor__subject badge badge--informatics">Информатика</div>
                            <div class="instructor__subject badge badge--math">Математика</div>
                        </div>
                        <h2 class="instructor__heading">
                            Романова Ева Никитична
                        </h2>
                        <div class="instructor__description wysiwyg">
                            <p>Каждую неделю на почту или телефон родителя отправляются отчеты об успеваемости. Можно настроить, кому отправлять и когда. Каждую неделю на почту или телефон родителя отправляются отчеты об успеваемости. Можно настроить, кому отправлять и когда.</p>
                        </div>
                        <div class="instructor__menu">
                            <div class="instructor__item">
                                <a class="link link--text-alike" href="#">Профильный ЕГЭ по математике, 11 классы</a>
                            </div>
                            <div class="instructor__item">
                                <a class="link link--text-alike" href="#">Базовый ЕГЭ по математике, 10-11 классы</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="teachers__item instructor">
                    <div class="instructor__summary">
                        <article class="instructor__photo mentor mentor--small">
                            <div class="mentor__preview black-border black-border--big-radius black-border--to-left">
                                <a class="mentor__card" href="#">
                                    <img class="mentor__photo"
                                         srcset="../temp/mentor-c@2x.jpg 2x"
                                         src="../temp/mentor-c.jpg"
                                         width="242"
                                         height="366"
                                         alt=""
                                    >
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="instructor__data">
                        <div class="instructor__area">
                            <div class="instructor__subject badge badge--informatics">Информатика</div>
                            <div class="instructor__subject badge badge--math">Математика</div>
                        </div>
                        <h2 class="instructor__heading">
                            Романова Ева Никитична
                        </h2>
                        <div class="instructor__description wysiwyg">
                            <p>Каждую неделю на почту или телефон родителя отправляются отчеты об успеваемости. Можно настроить, кому отправлять и когда. Каждую неделю на почту или телефон родителя отправляются отчеты об успеваемости. Можно настроить, кому отправлять и когда.</p>
                        </div>
                        <div class="instructor__menu">
                            <div class="instructor__item">
                                <a class="link link--text-alike" href="#">Профильный ЕГЭ по математике, 11 классы</a>
                            </div>
                            <div class="instructor__item">
                                <a class="link link--text-alike" href="#">Базовый ЕГЭ по математике, 10-11 классы</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="join">
            <div class="join__wrap container">
                <div class="join__window">
                    <div class="join__body">
                        <h2 class="join__heading">
                            Присоединяйся
                            к&nbsp;сообществу учеников
                            со&nbsp;всей страны
                        </h2>
                        <form class="join__form subscription subscription--vertical">
                            <div class="subscription__body">
                                <div class="subscription__field">
                                    <label class="label" for="email">Электронная почта <span class="required">*</span></label>
                                    <div class="input input--larger">
                                        <input class="input__widget" type="email" id="email">
                                    </div>
                                </div>
                                <div class="subscription__submit">
                                    <div class="black-shadow">
                                        <button class="button button--orange button--larger" type="button">
                                            Начать заниматься
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="join__social media media--larger">
                            <a class="media__item" href="#">
                                <img class="media__icon" src="../symbols/media-vk.svg" alt="">
                            </a>
                            <a class="media__item" href="#">
                                <img class="media__icon" src="../symbols/media-instagram.svg" alt="">
                            </a>
                        </div>
                        <div class="join__agreement">
                            Регистрируясь на платформе ЕГЭнатор, вы соглашаетесь
                            на&nbsp;<a class="link link--text-color" href="#">Условия пользования сервисом</a> и <a class="link link--text-color" href="#">Политикой конфиденциальности</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <div class="alert" style="display: none;">
            <div class="alert__label">
                Спасибо! Вы&nbsp;подписаны на&nbsp;рассылку.<br class="hide hide_mobile">
                На&nbsp;вашу почту скоро придут материалы и&nbsp;шпаргалки по&nbsp;ЕГЭ.
            </div>
            <button class="alert__dismiss" type="button">
                Закрыть
            </button>
        </div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_faq.js"></script>
        <script src="../scripts/_alert.js"></script>
        <script src="../scripts/_subscription.js"></script>


    </body>
</html>
