.auth {
    padding: 80px 104px;
}
    .auth__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-heading);
        font-weight: var(--ultrabold);
        font-size: 38px;
        line-height: 42px;
    }

    .auth__body {
        margin-top: 38px;
        width: 390px;
    }
        .auth__field {
            position: relative;
            margin-top: 8px;
        }

        .auth__field:first-child {
            margin-top: 0;
        }
            .auth__recover {
                position: absolute;
                right: 0;
                top: -4px;
                font-size: var(--body-font);
                line-height: var(--body-line);
            }

    .auth__submit {
        margin-top: 24px;
        width: 100%;
    }
        .auth__submit .button {
            width: 100%;
        }

        .auth__submit--shortened {
            width: 240px;
        }

    .auth__social {
        margin-top: 32px;
    }

    .auth__alt-action {
        margin-top: 30px;
    }



.auth--login {
    width: 1220px;
    background-image: url("../images/auth.png");
    background-size: 490px 490px;
    background-repeat: no-repeat;
    background-position: right 87px top 87px;
}

@media (min-resolution: 2dppx) {

    .auth--login {
        background-image: url("../images/auth@2x.png");
    }
}


.auth--password-recovery {
    width: 1220px;
}
