.black-border {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
    .black-border::before {
        content: "";
        position: absolute;
        left: 5px;
        top: 5px;
        width: 100%;
        height: 100%;
        border: 2px solid var(--black);
        border-radius: 10px;
    }

.black-border--larger {

}
    .black-border--larger::before {
        left: 7px;
        top: 7px;
        border-radius: 18px;
    }


.black-border--big-radius {

}
    .black-border--big-radius::before {
        border-radius: 19px;
    }


.black-border--to-left {

}
    .black-border--to-left::before {
        left: auto;
        right: 5px;
    }

    .black-border--to-left.black-border--larger::before {
        right: 7px;
    }
