.form {
    padding: 80px 104px;
}
    .form__heading {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 598px;
        font-family: var(--font-heading);
        font-weight: var(--ultrabold);
        font-size: 38px;
        line-height: 42px;
    }

    .form__body {
        margin-top: 38px;
        width: 390px;
    }
        .form__field {
            position: relative;
            margin-top: 8px;
        }

        .form__field:first-child {
            margin-top: 0;
        }

        .form__field--wide {
            margin-right: -222px;
        }

            .form__recover {
                position: absolute;
                right: 0;
                top: -4px;
                font-size: var(--body-font);
                line-height: var(--body-line);
            }

    .form__submit {
        margin-top: 24px;
        width: 100%;
    }
        .form__submit .button {
            width: 100%;
        }

        .form__submit--shortened {
            width: 240px;
        }

    .form__social {
        margin-top: 32px;
    }

    .form__alt-action {
        margin-top: 30px;
    }


    .form__note {
        margin-top: 24px;
        font-size: var(--caption-font);
        line-height: var(--caption-line);
        color: var(--grey-dark);
    }

    .form__note--wide {
        margin-right: -222px;
    }

.form--login,
.form--register {
    width: 1220px;
    background-image: url("../images/auth.png");
    background-size: 490px 490px;
    background-repeat: no-repeat;
    background-position: right 87px top 87px;
}

@media (min-resolution: 2dppx) {

    .form--login,
    .form--register {
        background-image: url("../images/auth@2x.png");
    }
}


.form--password-recovery {
    width: 1220px;
}

.form--question {
    width: 820px;
}

.form--call {
    width: 820px;
}
