.header {
    height: var(--header-height);
    background-color: var(--black);
}
    .header__wrap {
        display: flex;
        align-items: flex-start;
    }
        .header__panel {

        }
            .header__toggler {
                display: none;
            }
                .header__burger {

                }

                .header__close {

                }

            .header__logo {
                display: block;
                margin-top: 4px;
            }

        .header__dropdown {
            margin-left: auto;
            margin-top: 15px;
            display: flex;
            align-items: flex-start;
        }
            .header__contacts {

            }
                .header__phone {
                    text-decoration: none;
                    color: var(--white);
                }

                .header__callback {
                    font-size: 16px;
                    line-height: 24px;
                }

                .header__mail {
                    display: none;
                    margin-top: 28px;
                }

            .header__auth {
                margin: -4px -16px -8px 44px;
                display: flex;
                align-items: flex-start;
                padding: 8px 16px;
                border-radius: 6px;
                text-decoration: none;
                color: #FFFFFF;
            }

            .header__auth:hover {
                background-color: rgba(255, 255, 255, 0.16);
            }

                .header__preview {

                }
                    .header__avatar {
                        vertical-align: top;
                    }

                .header__login {
                    margin-left: 12px;
                    margin-top: 13px;
                    font-size: 16px;
                    line-height: 24px;
                }



@media (max-width: 639px) {

    .header-expanded {
        background-color: var(--black);
    }

    .header {
        height: auto;
        padding-top: var(--mobile-header-height);
        padding-bottom: 0;
        background-color: transparent;
    }
        .header__wrap {
            display: block;
            /*align-items: flex-start;*/
        }
        .header__wrap.container {

        }
            .header__panel {
                position: fixed;
                z-index: 500;
                left: 0;
                top: 0;
                right: 0;
                height: var(--mobile-header-height);
                margin-top: 0;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                background-color: var(--black);
            }
                .header__toggler {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    border: none;
                    background-color: transparent;
                    width: 64px;
                    height: var(--mobile-header-height);
                    cursor: pointer;
                }
                    .header__burger {
                        display: block;
                        vertical-align: top;
                        fill: #FFFFFF;
                    }

                    .header-expanded .header__burger {
                        display: none;
                    }

                    .header__close {
                        display: none;
                        vertical-align: top;
                        fill: #FFFFFF;
                    }

                    .header-expanded .header__close {
                        display: block;
                    }

            .header__logo {
                margin-top: 4px;
                /*display: block;*/
            }

            .header__dropdown {
                /*margin-left: auto;*/
                margin-top: 0;
                display: none;
                position: relative;
                padding-top: 33px;
                /*align-items: flex-start;*/
            }

            .header-expanded .header__dropdown {
                display: block;
            }
                .header__dropdown::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: calc(-1 * var(--mobile-container));
                    right: calc(-1 * var(--mobile-container));
                    height: 1px;
                    background-color: rgba(255, 255, 255, 0.16);
                }

                .header__contacts {

                }
                    .header__phone {
                        /*text-decoration: none;*/
                        /*color: var(--white);*/
                    }

                    .header__callback {
                        margin-top: 7px;
                        /*font-size: 16px;*/
                        /*line-height: 24px;*/
                    }

                    .header__mail {
                        display: block;
                    }

                .header__auth {
                    margin: 20px calc(-0.5 * var(--mobile-container)) -8px;
                    padding-left: calc(0.5 * var(--mobile-container));
                    padding-right: calc(0.5 * var(--mobile-container));
                    /*margin-top: 2px;*/
                    /*display: flex;*/
                    /*align-items: flex-start;*/
                }
                    .header__preview {

                    }
                        .header__avatar {
                            /*vertical-align: top;*/
                        }

                    .header__login {
                        /*font-size: 16px;*/
                        /*line-height: 24px;*/
                    }
}
