.instructor {
    display: flex;
    align-items: flex-start;
}
    .instructor__summary {
        flex-shrink: 0;
        margin-right: 30px;
        width: 238px;
    }
        .instructor__photo {

        }

        .instructor__social {
            margin-top: 17px;
            text-align: center;
        }

    .instructor__data {
        width: 952px;
    }
        .instructor__area {

        }
            .instructor__subject {

            }

        .instructor__heading {
            margin-top: 5px;
            margin-bottom: 0;
            font-family: var(--font-heading);
            font-weight: var(--ultrabold);
            font-size: 30px;
            line-height: 37px;
        }

        .instructor__description {
            margin-top: 32px;
        }

        .instructor__menu {
             margin-top: 32px;
        }
            .instructor__item {
                font-size: var(--body2-font);
                line-height: var(--body2-line);
            }



@media (max-width: 639px) {

    .instructor {
        display: block;
        /*align-items: flex-start;*/
    }
        .instructor__summary {
            /*flex-shrink: 0;*/
            margin-right: 0;
            width: auto;
        }
            .instructor__photo {

            }

            .instructor__social {
                /*margin-top: 17px;*/
                text-align: left;
            }

        .instructor__data {
            margin-top: 36px;
            width: auto;
        }
            .instructor__area {

            }
                .instructor__subject {

                }

            .instructor__heading {
                /*margin-top: 5px;*/
                /*margin-bottom: 0;*/
                /*font-family: var(--font-heading);*/
                /*font-weight: var(--ultrabold);*/
                /*font-size: 30px;*/
                /*line-height: 37px;*/
            }

            .instructor__description {
                /*margin-top: 32px;*/
            }

            .instructor__menu {
                 /*margin-top: 32px;*/
            }
                .instructor__item {
                    /*font-size: var(--body2-font);*/
                    /*line-height: var(--body2-line);*/
                }
}
