.media {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}
    .media__item {
        padding: 8px;
        background-color: var(--black);
        border-radius: 50%;
        line-height: 10px;
    }

    .media__item:hover {
        background-color: var(--black-hover);
    }
        .media__icon {
            vertical-align: top;
            width: 24px;
            height: 24px;
            fill: #FFFFFF;
        }



.media--larger {
    gap: 16px;
}
    .media--larger .media__item {
        padding: 14px;
    }
        .media--larger .media__icon {
            width: 28px;
            height: 28px;
        }
