.password-checklist {
    position: absolute;
    left: 100%;
    top: 50%;
    margin-left: 12px;
    transform: translateY(-50%);
}
    .password-checklist__item {
        padding-left: 16px;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: left center;
        white-space: nowrap;
        font-size: var(--caption-font);
        line-height: var(--caption-line);
        color: var(--black-32pct);
    }

    .password-checklist__item--passed {
        background-image: url("../vectors/password-checklist.svg");
        color: var(--black);
    }
