@media (max-width: 639px) {

    .scrollable {
        position: relative;
        margin-left: calc(-1 * var(--mobile-container));
        margin-right: calc(-1 * var(--mobile-container));
    }
        .scrollable__container {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none; /* hide scrollbar in Firefox */
            -ms-overflow-style: none; /* hide scrollbar in Edge */
        }

        .scrollable__container::-webkit-scrollbar { /* hide scrollbar in webkit based browsers */
            display: none;
        }
            .scrollable__ribbon {
                display: inline-block; /* чтобы ширина была по содержимому, а не всегда 100% поконтексту */
                vertical-align: top;
                min-width: 100%; /* чтобы таблички внутри не схлопывались по ширине */
                padding-left: var(--mobile-container);
                padding-right: var(--mobile-container);
            }
}
