.subject {
    padding-top: 46px;
    padding-bottom: 46px;
}
    .subject__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-heading);
        font-weight: var(--ultrabold);
        font-size: 56px;
        line-height: 60px;
        text-align: center;
    }

    .subject__description {
        max-width: 804px;
        margin: 24px auto 0;
        font-size: var(--body2-font);
        line-height: var(--body2-line);
        text-align: center;
    }

    .subject__operations {
        margin-top: 32px;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        gap: 24px;
    }
        .subject__action {

        }
            .subject__action .button {
                min-width: 290px;
                padding: 17px 44px 19px;
                font-size: 19px;
                line-height: 26px;
                border-radius: 8px;
            }



@media (max-width: 639px) {

    .subject {
        padding-top: 32px;
        padding-bottom: 32px;
    }
        .subject__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            font-size: 30px;
            line-height: 37px;
            /*text-align: center;*/
        }

        .subject__description {
            /*max-width: 804px;*/
            /*margin: 24px auto 0;*/
            margin-top: 14px;
            /*font-size: var(--body2-font);*/
            /*line-height: var(--body2-line);*/
            font-size: 16px;
            line-height: 24px;
            /*text-align: center;*/
        }

        .subject__operations {
            margin-top: 25px;
            display: grid;
            grid-auto-flow: row;
            justify-content: stretch;
            gap: 24px;
        }
            .subject__action {
                display: block;
                width: 100%;
            }
                .subject__action .button {
                    width: 100%;
                    min-width: 0;
                    padding: 13px 30px 15px;
                    font-size: 16px;
                    line-height: 24px;
                    border-radius: 6px;
                }

                @media (max-width: 359px) {
                    .subject__action .button {
                        padding-left: 14px;
                        padding-right: 14px;
                    }
                }
}
