.teachers-preview {
    padding-top: 80px;
    padding-bottom: 80px;
}
    .teachers-preview__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-heading);
        font-weight: var(--ultrabold);
        font-size: 38px;
        line-height: 42px;
        text-align: center;
    }

    .teachers-preview__body {
        margin-top: 60px;
        overflow-x: auto;
    }
        .teachers-preview__list {

        }
            .teachers-preview__ribbon {
                display: inline-flex;
                align-items: stretch;
            }
                .teachers-preview__ribbon::before,
                .teachers-preview__ribbon::after {
                    content: "";
                    display: block;
                    width: calc(50vw - 640px); /* based on VW to have a relation to the 50% of the screen */
                    height: 100px;
                }

                .teachers-preview__item {
                    margin-right: 40px;
                }

                .teachers-preview__item:last-child {
                    margin-right: 0;
                }


    .teachers-preview__footer {
        margin-top: 60px;
        text-align: center;
    }
        .teachers-preview__footer .button {

        }


@media (max-width: 639px) {

    .teachers-preview {
        padding-top: 25px;
        padding-bottom: 48px;
    }
        .teachers-preview__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            font-size: 24px;
            line-height: 30px;
        }

        .teachers-preview__body {
            margin-top: 30px;
            /*overflow-x: auto;*/
        }
            .teachers-preview__list {

            }
                .teachers-preview__ribbon {
                    /*display: inline-flex;*/
                    /*align-items: flex-start;*/
                    padding-left: var(--mobile-container);
                    padding-right: var(--mobile-container);
                }
                    .teachers-preview__ribbon::before,
                    .teachers-preview__ribbon::after {
                        display: none;
                    }

                    .teachers-preview__item {
                        margin-right: 17px;
                    }

                    .teachers-preview__item:last-child {
                        /*margin-right: 0;*/
                    }


        .teachers-preview__footer {
            margin-top: 10px;
            padding-left: var(--mobile-container);
            padding-right: var(--mobile-container);
        }
            .teachers-preview__footer .button {
                width: 100%;
            }
}
