.title {
    font-family: var(--font-heading);
}

.title--h2 {
    font-weight: var(--ultrabold);
    font-size: 56px;
    line-height: 60px;
}


.title--h4 {
    font-weight: var(--ultrabold);
    font-size: 38px;
    line-height: 42px;
}



.title--h6 {
    font-weight: var(--ultrabold);
    font-size: 30px;
    line-height: 37px;
}
