.wysiwyg {
    font-size: var(--body2-font);
    line-height: var(--body2-line);
}

/* stylelint-disable function-parentheses-space-inside */
.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg hr,
.wysiwyg figure,
.wysiwyg blockquote,
.wysiwyg .video {
    margin-top: var(--body2-line);
    margin-bottom: var(--body2-line);
}


/* stylelint-disable */
.wysiwyg--halfen p,
.wysiwyg--halfen ul,
.wysiwyg--halfen ol,
.wysiwyg--halfen hr,
.wysiwyg--halfen figure,
.wysiwyg--halfen blockquote,
.wysiwyg--halfen .video {
    margin-top: calc(var(--body2-line) / 2);
    margin-bottom: calc(var(--body2-line) / 2);
}
/* stylelint-enable */






.wysiwyg p:first-child,
.wysiwyg ul:first-child,
.wysiwyg ol:first-child,
.wysiwyg hr:first-child,
.wysiwyg figure:first-child,
.wysiwyg blockquote:first-child,
.wysiwyg .video:first-child {
    margin-top: 0;
}

.wysiwyg p:last-child,
.wysiwyg ul:last-child,
.wysiwyg ol:last-child,
.wysiwyg hr:last-child,
.wysiwyg figure:last-child,
.wysiwyg blockquote:last-child,
.wysiwyg .video:last-child {
    margin-bottom: 0;
}


.wysiwyg ul,
.wysiwyg ol {

}
    .wysiwyg li {
        margin-top: calc(var(--body2-line) / 2);
    }

    .wysiwyg li:first-child {
        margin-top: 0;
    }
        .wysiwyg ul ul,
        .wysiwyg ul ol,
        .wysiwyg ol ol,
        .wysiwyg ol ul {
            margin-top: calc(var(--body2-line) / 2);
            margin-bottom: 0;
        }



.wysiwyg ul {
    padding-left: 24px;
    /*list-style: none;*/
}
    /*.wysiwyg ul li {*/
    /*    position: relative;*/
    /*}*/
    /*    .wysiwyg ul li::before {*/
    /*        position: absolute;*/
    /*        right: 100%;*/
    /*        margin-right: 5px;*/
    /*        top: 0;*/
    /*        content: "—";*/
    /*    }*/

.wysiwyg ol {
    /*counter-reset: wysiwyg-ordered-list;*/
    padding-left: 20px;
    /*list-style: none;*/
}
    /*.wysiwyg ol li {*/
    /*    counter-increment: wysiwyg-ordered-list;*/
    /*    position: relative;*/
    /*}*/
    /*    .wysiwyg ol li::before {*/
    /*        content: counter(wysiwyg-ordered-list) ") ";*/
    /*        position: absolute;*/
    /*        right: 100%;*/
    /*        margin-right: 5px;*/
    /*        top: 0;*/
    /*    }*/



.wysiwyg blockquote {
    margin-left: 20px;
    margin-right: 20px;
}

.wysiwyg hr {
    height: 0;
    border-top: 1px solid;
}

.wysiwyg img {
    vertical-align: top;
}

.wysiwyg figure {
    margin-left: 0;
    margin-right: 0;
}
    .wysiwyg figcaption {
        margin-top: 4px;
        text-align: center;
    }



.wysiwyg h2 {
    margin-top: 32px;
    margin-bottom: 12px;
    font-family: var(--font-heading);
    font-weight: var(--ultrabold);
    font-size: 30px;
    line-height: 34px;
}

.wysiwyg h3 {
    margin-top: 32px;
    margin-bottom: 12px;
    font-family: var(--font-heading);
    font-weight: var(--ultrabold);
    font-size: 20px;
    line-height: 30px;
}

.wysiwyg h4 {

}

.wysiwyg h2:first-child,
.wysiwyg h3:first-child,
.wysiwyg h4:first-child {
    margin-top: 0;
}

.wysiwyg h2:last-child,
.wysiwyg h3:last-child,
.wysiwyg h4:last-child {
    margin-bottom: 0;
}


.wysiwyg table {
    vertical-align: top;
    border-collapse: collapse;
}
    .wysiwyg tr {

    }
        .wysiwyg th,
        .wysiwyg td {
            padding: 10px 12px;
            border: 1px solid currentColor;
        }

        .wysiwyg thead th,
        .wysiwyg thead td {

        }

        .wysiwyg tbody th,
        .wysiwyg tbody td {

        }


.wysiwyg a {
    color: #A8D741;
    text-decoration: underline;
}

.wysiwyg a:hover {
    text-decoration: none;
}


.wysiwyg b,
.wysiwyg strong {
    font-weight: bold;
}
