<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Информатика</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css?1667394617">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->


        <div class="subject container">
            <h1 class="subject__heading">
                Информатика
            </h1>
            <div class="subject__description">
                Кратко. Текст для примера. ЕГЭнатор – новый проект школы «ЕГЭ-Студия», лидера в области подготовки к ЕГЭ и поступления в ВУЗы
            </div>
            <div class="subject__operations">
                <div class="subject__action black-shadow">
                    <a class="button button--larger button--informatics" href="#">Учиться в группе</a>
                </div>
                <div class="subject__action black-border">
                    <a class="button button--larger button--white" href="#">Учиться самостоятельно</a>
                </div>
            </div>
        </div>
        <section class="timesheet container">
            <h2 class="timesheet__sub-heading">
                Онлайн-классы в группе стартуют каждую неделю
            </h2>
            <div class="timesheet__data">
                <div class="timesheet__row timesheet__row--head">
                    <div class="timesheet__cell timesheet__cell--beginning">Старт</div>
                    <div class="timesheet__cell timesheet__cell--course">Курс</div>
                    <div class="timesheet__cell timesheet__cell--amount">Кол-во и тип занятий</div>
                    <div class="timesheet__cell timesheet__cell--teacher">Препод</div>
                </div>
                <a class="timesheet__row timesheet__row--body" href="#">
                    <div class="timesheet__cell timesheet__cell--beginning">
                        <div class="timesheet__stat">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#calendar"></use>
                            </svg>
                            Сб, 27 сентября
                        </div>
                        <div class="timesheet__stat">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#time"></use>
                            </svg>
                            09:00-13:00
                        </div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--course">
                        <div class="timesheet__tag badge">Информатика</div>
                        <div class="timesheet__title headline headline--1">Вся информатика за 20 дней</div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--amount">
                        <div class="timesheet__stat timesheet__stat--online-classes">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#laptop"></use>
                            </svg>
                            20 онлайн-занятий
                        </div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--teacher">
                        <div class="timesheet__photo avatar avatar--clickable">
                            <img class="avatar__image"
                                 srcset="../temp/person-c-48x48@2x.jpg 2x"
                                 src="../temp/person-c-48x48.jpg"
                                 width="48"
                                 height="48"
                                 alt="Elon Musk"
                            >
                        </div>
                    </div>
                </a>
                <a class="timesheet__row timesheet__row--body" href="#">
                    <div class="timesheet__cell timesheet__cell--beginning">
                        <div class="timesheet__stat">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#calendar"></use>
                            </svg>
                            Сб, 27 сентября
                        </div>
                        <div class="timesheet__stat">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#time"></use>
                            </svg>
                            09:00-13:00
                        </div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--course">
                        <div class="timesheet__tag badge">Информатика</div>
                        <div class="timesheet__title headline headline--1">Вся информатика за 20 дней</div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--amount">
                        <div class="timesheet__stat timesheet__stat--online-classes">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#laptop"></use>
                            </svg>
                            20 онлайн-занятий
                        </div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--teacher">
                        <div class="timesheet__photo avatar avatar--clickable">
                            <img class="avatar__image"
                                 srcset="../temp/person-c-48x48@2x.jpg 2x"
                                 src="../temp/person-c-48x48.jpg"
                                 width="48"
                                 height="48"
                                 alt="Elon Musk"
                            >
                        </div>
                    </div>
                </a>
                <a class="timesheet__row timesheet__row--body" href="#">
                    <div class="timesheet__cell timesheet__cell--beginning">
                        <div class="timesheet__stat">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#calendar"></use>
                            </svg>
                            Сб, 27 сентября
                        </div>
                        <div class="timesheet__stat">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#time"></use>
                            </svg>
                            09:00-13:00
                        </div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--course">
                        <div class="timesheet__tag badge">Информатика</div>
                        <div class="timesheet__title headline headline--1">Вся информатика за 20 дней</div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--amount">
                        <div class="timesheet__stat timesheet__stat--online-classes">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#laptop"></use>
                            </svg>
                            20 онлайн-занятий
                        </div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--teacher">
                        <div class="timesheet__photo avatar avatar--clickable">
                            <img class="avatar__image"
                                 srcset="../temp/person-c-48x48@2x.jpg 2x"
                                 src="../temp/person-c-48x48.jpg"
                                 width="48"
                                 height="48"
                                 alt="Elon Musk"
                            >
                        </div>
                    </div>
                </a>
                <a class="timesheet__row timesheet__row--body" href="#">
                    <div class="timesheet__cell timesheet__cell--beginning">
                        <div class="timesheet__stat">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#calendar"></use>
                            </svg>
                            Сб, 27 сентября
                        </div>
                        <div class="timesheet__stat">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#time"></use>
                            </svg>
                            09:00-13:00
                        </div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--course">
                        <div class="timesheet__tag badge">Информатика</div>
                        <div class="timesheet__title headline headline--1">Вся информатика за 20 дней</div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--amount">
                        <div class="timesheet__stat timesheet__stat--online-classes">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#laptop"></use>
                            </svg>
                            20 онлайн-занятий
                        </div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--teacher">
                        <div class="timesheet__photo avatar avatar--clickable">
                            <img class="avatar__image"
                                 srcset="../temp/person-c-48x48@2x.jpg 2x"
                                 src="../temp/person-c-48x48.jpg"
                                 width="48"
                                 height="48"
                                 alt="Elon Musk"
                            >
                        </div>
                    </div>
                </a>
                <a class="timesheet__row timesheet__row--body" href="#">
                    <div class="timesheet__cell timesheet__cell--beginning">
                        <div class="timesheet__stat">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#calendar"></use>
                            </svg>
                            Сб, 27 сентября
                        </div>
                        <div class="timesheet__stat">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#time"></use>
                            </svg>
                            09:00-13:00
                        </div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--course">
                        <div class="timesheet__tag badge">Информатика</div>
                        <div class="timesheet__title headline headline--1">Вся информатика за 20 дней</div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--amount">
                        <div class="timesheet__stat timesheet__stat--online-classes">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#laptop"></use>
                            </svg>
                            20 онлайн-занятий
                        </div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--teacher">
                        <div class="timesheet__photo avatar avatar--clickable">
                            <img class="avatar__image"
                                 srcset="../temp/person-c-48x48@2x.jpg 2x"
                                 src="../temp/person-c-48x48.jpg"
                                 width="48"
                                 height="48"
                                 alt="Elon Musk"
                            >
                        </div>
                    </div>
                </a>
                <a class="timesheet__row timesheet__row--body" href="#">
                    <div class="timesheet__cell timesheet__cell--beginning">
                        <div class="timesheet__stat">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#calendar"></use>
                            </svg>
                            Сб, 27 сентября
                        </div>
                        <div class="timesheet__stat">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#time"></use>
                            </svg>
                            09:00-13:00
                        </div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--course">
                        <div class="timesheet__tag badge">Информатика</div>
                        <div class="timesheet__title headline headline--1">Вся информатика за 20 дней</div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--amount">
                        <div class="timesheet__stat timesheet__stat--online-classes">
                            <svg class="timesheet__icon" width="16" height="16">
                                <use xlink:href="../symbols/symbols.svg?1667394617#laptop"></use>
                            </svg>
                            20 онлайн-занятий
                        </div>
                    </div>
                    <div class="timesheet__cell timesheet__cell--teacher">
                        <div class="timesheet__photo avatar avatar--clickable">
                            <img class="avatar__image"
                                 srcset="../temp/person-c-48x48@2x.jpg 2x"
                                 src="../temp/person-c-48x48.jpg"
                                 width="48"
                                 height="48"
                                 alt="Elon Musk"
                            >
                        </div>
                    </div>
                </a>
            </div>
            <div class="timesheet__footer">
                <a class="button button--secondary button--larger" href="#">Показать больше</a>
            </div>
        </section>
        <section class="teachers-preview">
            <h2 class="teachers-preview__heading">
                Наши преподаватели
            </h2>
            <div class="teachers-preview__body hide-scrollbar">
                <div class="teachers-preview__list">
                    <div class="teachers-preview__ribbon">
                        <div class="teachers-preview__item">
                            <article class="mentor">
                                <div class="mentor__preview black-border black-border--larger black-border--to-left">
                                    <a class="mentor__card" href="#">
                                        <img class="mentor__photo"
                                             srcset="../temp/mentor-a@2x.jpg 2x"
                                             src="../temp/mentor-a.jpg"
                                             width="242"
                                             height="366"
                                             alt=""
                                        >
                                    </a>
                                </div>
                                <div class="mentor__heading">
                                    <a class="link link--text-alike" href="#">Романова Ева Никитична</a>
                                </div>
                            </article>
                        </div>
                        <div class="teachers-preview__item">
                            <article class="mentor">
                                <div class="mentor__preview black-border black-border--larger black-border--to-left">
                                    <a class="mentor__card" href="#">
                                        <img class="mentor__photo"
                                             srcset="../temp/mentor-b@2x.jpg 2x"
                                             src="../temp/mentor-b.jpg"
                                             width="242"
                                             height="366"
                                             alt=""
                                        >
                                    </a>
                                </div>
                                <div class="mentor__heading">
                                    <a class="link link--text-alike" href="#">Агафонова Марина Александровна</a>
                                </div>
                            </article>
                        </div>
                        <div class="teachers-preview__item">
                            <article class="mentor">
                                <div class="mentor__preview black-border black-border--larger black-border--to-left">
                                    <a class="mentor__card" href="#">
                                        <img class="mentor__photo"
                                             srcset="../temp/mentor-c@2x.jpg 2x"
                                             src="../temp/mentor-c.jpg"
                                             width="242"
                                             height="366"
                                             alt=""
                                        >
                                    </a>
                                </div>
                                <div class="mentor__heading">
                                    <a class="link link--text-alike" href="#">Вадим Александрович Муранов</a>
                                </div>
                            </article>
                        </div>
                        <div class="teachers-preview__item">
                            <article class="mentor">
                                <div class="mentor__preview black-border black-border--larger black-border--to-left">
                                    <a class="mentor__card" href="#">
                                        <img class="mentor__photo"
                                             srcset="../temp/mentor-a@2x.jpg 2x"
                                             src="../temp/mentor-a.jpg"
                                             width="242"
                                             height="366"
                                             alt=""
                                        >
                                    </a>
                                </div>
                                <div class="mentor__heading">
                                    <a class="link link--text-alike" href="#">Романова Ева Никитична</a>
                                </div>
                            </article>
                        </div>
                        <div class="teachers-preview__item">
                            <article class="mentor">
                                <div class="mentor__preview black-border black-border--larger black-border--to-left">
                                    <a class="mentor__card" href="#">
                                        <img class="mentor__photo"
                                             srcset="../temp/mentor-b@2x.jpg 2x"
                                             src="../temp/mentor-b.jpg"
                                             width="242"
                                             height="366"
                                             alt=""
                                        >
                                    </a>
                                </div>
                                <div class="mentor__heading">
                                    <a class="link link--text-alike" href="#">Агафонова Марина Александровна</a>
                                </div>
                            </article>
                        </div>
                        <div class="teachers-preview__item">
                            <article class="mentor">
                                <div class="mentor__preview black-border black-border--larger black-border--to-left">
                                    <a class="mentor__card" href="#">
                                        <img class="mentor__photo"
                                             srcset="../temp/mentor-c@2x.jpg 2x"
                                             src="../temp/mentor-c.jpg"
                                             width="242"
                                             height="366"
                                             alt=""
                                        >
                                    </a>
                                </div>
                                <div class="mentor__heading">
                                    <a class="link link--text-alike" href="#">Вадим Александрович Муранов</a>
                                </div>
                            </article>
                        </div>
                        <div class="teachers-preview__item">
                            <article class="mentor">
                                <div class="mentor__preview black-border black-border--larger black-border--to-left">
                                    <a class="mentor__card" href="#">
                                        <img class="mentor__photo"
                                             srcset="../temp/mentor-a@2x.jpg 2x"
                                             src="../temp/mentor-a.jpg"
                                             width="242"
                                             height="366"
                                             alt=""
                                        >
                                    </a>
                                </div>
                                <div class="mentor__heading">
                                    <a class="link link--text-alike" href="#">Романова Ева Никитична</a>
                                </div>
                            </article>
                        </div>
                        <div class="teachers-preview__item">
                            <article class="mentor">
                                <div class="mentor__preview black-border black-border--larger black-border--to-left">
                                    <a class="mentor__card" href="#">
                                        <img class="mentor__photo"
                                             srcset="../temp/mentor-b@2x.jpg 2x"
                                             src="../temp/mentor-b.jpg"
                                             width="242"
                                             height="366"
                                             alt=""
                                        >
                                    </a>
                                </div>
                                <div class="mentor__heading">
                                    <a class="link link--text-alike" href="#">Агафонова Марина Александровна</a>
                                </div>
                            </article>
                        </div>
                        <div class="teachers-preview__item">
                            <article class="mentor">
                                <div class="mentor__preview black-border black-border--larger black-border--to-left">
                                    <a class="mentor__card" href="#">
                                        <img class="mentor__photo"
                                             srcset="../temp/mentor-c@2x.jpg 2x"
                                             src="../temp/mentor-c.jpg"
                                             width="242"
                                             height="366"
                                             alt=""
                                        >
                                    </a>
                                </div>
                                <div class="mentor__heading">
                                    <a class="link link--text-alike" href="#">Вадим Александрович Муранов</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teachers-preview__footer">
                <a class="teachers-preview__more button button--secondary button--larger" href="#">Все преподаватели</a>
            </div>
        </section>
        <section class="faq">
            <div class="faq__wrap container">
                <div class="faq__intro">
                    <h2 class="faq__heading">
                        Остались вопросы?
                    </h2>
                    <div class="faq__about">
                        Если у&nbsp;вас возникли вопросы об&nbsp;обучении, оставьте свои контакты, и&nbsp;наш менеджер свяжется с&nbsp;вами, чтобы помочь.
                    </div>
                    <div class="faq__submit-question">
                        <div class="black-border">
                            <a class="button button--larger" href="#">Задать вопрос</a>
                        </div>
                    </div>
                </div>
                <div class="faq__list">
                    <div class="faq__item">
                        <button class="faq__question" type="button">
                            <span class="faq__label">
                                Как проходит обучение?
                            </span>
                        </button>
                        <div class="faq__answer wysiwyg wysiwyg--halfen">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                            <p>Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <button class="faq__question" type="button">
                            <span class="faq__label">
                                Будет ли домашка?
                            </span>
                        </button>
                        <div class="faq__answer wysiwyg wysiwyg--halfen">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                            <p>Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <button class="faq__question" type="button">
                            <span class="faq__label">
                                Кто такой куратор?
                            </span>
                        </button>
                        <div class="faq__answer wysiwyg wysiwyg--halfen">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                            <p>Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <button class="faq__question" type="button">
                            <span class="faq__label">
                                Гарантии?
                            </span>
                        </button>
                        <div class="faq__answer wysiwyg wysiwyg--halfen">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                            <p>Aut autem doloremque fugit impedit incidunt, nisi placeat quo recusandae unde vitae!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="join">
            <div class="join__wrap container">
                <div class="join__window">
                    <div class="join__body">
                        <h2 class="join__heading">
                            Присоединяйся
                            к&nbsp;сообществу учеников
                            со&nbsp;всей страны
                        </h2>
                        <form class="join__form subscription subscription--vertical">
                            <div class="subscription__body">
                                <div class="subscription__field">
                                    <label class="label" for="email">Электронная почта <span class="required">*</span></label>
                                    <div class="input input--larger">
                                        <input class="input__widget" type="email" id="email">
                                    </div>
                                </div>
                                <div class="subscription__submit">
                                    <div class="black-shadow">
                                        <button class="button button--orange button--larger" type="button">
                                            Начать заниматься
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="join__social media media--larger">
                            <a class="media__item" href="#">
                                <svg class="media__icon">
                                    <use xlink:href="../symbols/symbols.svg?1667394617#media-vk"></use>
                                </svg>
                            </a>
                            <a class="media__item" href="#">
                                <svg class="media__icon">
                                    <use xlink:href="../symbols/symbols.svg?1667394617#media-instagram"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="join__agreement">
                            Регистрируясь на платформе ЕГЭнатор, вы соглашаетесь
                            на&nbsp;<a class="link link--text-color" href="#">Условия пользования сервисом</a> и <a class="link link--text-color" href="#">Политикой конфиденциальности</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <div class="alert" style="display: none;">
            <div class="alert__label">
                Спасибо! Вы&nbsp;подписаны на&nbsp;рассылку.<br class="hide hide_mobile">
                На&nbsp;вашу почту скоро придут материалы и&nbsp;шпаргалки по&nbsp;ЕГЭ.
            </div>
            <button class="alert__dismiss" type="button">
                Закрыть
            </button>
        </div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js?1667394617"></script>
        <script src="../scripts/_faq.js?1667394617"></script>
        <script src="../scripts/_alert.js?1667394617"></script>
        <script src="../scripts/_subscription.js?1667394617"></script>


    </body>
</html>



